.test-el {
  width: 190px;
  background-color: green;
  margin: 10px;
}

.story-grid {
  position: relative;
  margin: 0 -15px 200px 0;

  @media screen and (min-width: 400px) {
    margin: 0 -40px 200px 0;
  }

  @media screen and (min-width: 600px) {
    max-width: 550px;
    margin: 0 auto 200px;
  }

  @media screen and (min-width: 768px) {
    max-width: 700px;
  }

  @media screen and (min-width: 1024px) {
    max-width: 900px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }

  &:before,
  &:after {
    display: table;
    content: " ";
    clear: both;
  }

}

.fixed + .story-grid {
  margin-top: 102px;

  @media screen and (min-width: 375px) {
    margin-top: 134px;
  }

  @media screen and (min-width: 600px) {
    margin-top: 117px;
  }

  @media screen and (min-width: 768px) {
    margin-top: 88px;
  }

  @media screen and (min-width: 1024px) {
    margin-top: 98px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 108px;
  }
}

.grid-sizer {
  width: 1px;
}

.story-frame {
  width: 24%;
  padding: 0.8%;

  @media screen and (min-width: 400px) {
    width: 18%;
    padding: 0.6%;
  }

  @media screen and (min-width: 600px) {
    width: 20%;
    padding: 0.6%;
  }

  @media screen and (min-width: 768px) {
    width: 16.6%;
    padding: 5px 2px;
  }

  @media screen and (min-width: 1200px) {
    width: 14%;
    padding: 5px;
  }
}

.story-frame {
  position: relative;
  display: block;
  box-sizing: border-box;
}

.story-inner {
  position: relative;
  width: 100%;
}

.story {
  position: relative;
  z-index: 2;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
  transition: all .6s ease-in-out;
  background-color: #fff;

  &.overlay {
    &:after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      background-color: rgba(255,255,255,0.3);
    }
    &:hover:after {
      display: none;
    }
  }

  &.unclickable {
    z-index: 1;
  }

  // &.inactive {
  //   border-left: 10px solid #ccc!important;
  // }

  &.highlighted {
    position: absolute;
    width: 80vw;
    height: 60vw;
    z-index: 9;

    @media screen and (min-width: 768px) {
      width: 70vw;
      height: 50vw;
    }

    @media screen and (min-width: 1200px) {
      width: 600px;
      height: 400px;
    }

    &:before {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 20px;
      content: "";
      background-color: #fff;
    }
  }

}

.story-bullet {
  position: absolute;
  z-index: 2;
  top: 5px;
  left: 10px;
  width: 9px;
  height: 9px;
  background-color: red;
  border-radius: 50%;

  @media screen and (min-width: 768px) {
    top: 4px;
    width: 13px;
    height: 13px;
  }

  .inactive & {
    background-color: #ccc!important;
  }
}

.story-category {
  position: absolute;
  display: none;
  z-index: 1;
  top: 2px;
  left: 8px;
  font-family: $secondary-title;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 2px 0 18px;

  @media screen and (min-width: 768px) {
    font-size: 15px;
    padding: 0 2px 0 22px;
  }

  .highlighted & {
    display: block;
  }
}

.story-img {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0 0 -5px;
  z-index: 0;

  .highlighted & {
    margin: 0;
  }

  img {
    width: 100%;
    height: 100%;

    .inactive & {
      filter: grayscale(100%);
      opacity: 0.5;
    }
  }
}

.story-content {
  overflow: hidden;
  background-color: rgba(0,0,0,0.8);
  padding: 0.5vw;

  .highlighted & {
    max-height: 100%;
    position: absolute;
    z-index: 2;
    bottom: 0;
    max-height: 50%;
    width: 100%;
  }
}

.story-title {
  position: relative;
  margin: 0;
  font-family: $primary-title;
  font-size: 14px;
  line-height: 1em;
  color: #fff;
  // padding: 0 0.5vw;
  text-transform: uppercase;

  @media screen and (min-width: 600px) {
    font-size: 20px;
  }

  @media screen and (min-width: 768px) {
    font-size: 20px;
  }

  @media screen and (min-width: 1024px) {
    font-size: 24px;
  }

  .inactive & {
    opacity: 0.5;
  }

  .highlighted & {
    margin: 1vw 0 0.5vw;
    font-size: 26px;

    @media screen and (min-width: 600px) {
      font-size: 40px;
    }

    @media screen and (min-width: 1024px) {
      font-size: 50px;
    }
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

.story-teaser {
  position: relative;
  margin: 0;
  font-family: $body-font;
  font-size: 10px;
  color: #fff;
  padding: 0 0.5vw;

  @media screen and (min-width: 1024px) {
    font-size: 14px;
  }

  .inactive & {
    opacity: 0.5;
  }

  .highlighted & {
    font-size: 14px;

    @media screen and (min-width: 600px) {
      font-size: 16px;
    }

    @media screen and (min-width: 769px) {
      font-size: 18px;
    }
  }
}
