//variables
@import "variables";
@import "font-mixin";

//modules
@import "story";
@import "category";


html {
  background-color: #fff;
}

body {
  background-color: transparent;
  margin: 0;
}


.yir-header {
  overflow-x: hidden;
  width: 100%;
  margin: 0 0 20px;
  padding-top: 220px;
  background: url("/interactive/2019/12/year-in-review-2019/images/2019-banner-mobile.png") no-repeat top center;

  &:before {
    position: absolute;
    z-index: -1;
    top: 0;
    height: 180px;
    width: 100%;
    content: "";
    background-color: #e74040;
  }

  @media screen and (min-width: 768px) {
    background: url("/interactive/2019/12/year-in-review-2019/images/2019-banner-red-tablet.png") no-repeat top center;
    padding-top: 350px;

    &:before {
      height: 238px;
    }
  }

  @media screen and (min-width: 1028px) {
    background: url("/interactive/2019/12/year-in-review-2019/images/2019-banner-red.png") no-repeat top center;
    padding-top: 500px;

    &:before {
      height: 341px;
    }
  }
}

// .yir-wrapper {
//   overflow-x: hidden;
//   padding-top: 275px;
//   background: url("/interactive/2019/12/year-in-review-2019/images/2019-banner.jpg") no-repeat top center;
//   background-size: 100%;
//
//   @media screen and (min-width: 768px) {
//     background: url("/interactive/2019/12/year-in-review-2019/images/2019-banner-tablet.jpg") no-repeat top center;
//     padding-top: 420px;
//   }
//
//   @media screen and (min-width: 1028px) {
//     background: url("/interactive/2019/12/year-in-review-2019/images/2019-banner-desktop.jpg") no-repeat top center;
//     padding-top: 480px;
//     background-size: auto 450px;
//   }
// }

.yir-title {
  font-family: $primary-title;
  text-align: center;
  font-size: 80px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.yir-paragraph {
  @include bigText;
  // font-family: $body-font;
  // margin: 0 auto 20px;
  max-width: 1200px;
  margin: 0 10px 20px;

  @media screen and (min-width: 1024px) {
    margin: 0 20px 20px;
  }

  @media screen and (min-width: 1200px) {
    margin: 0 auto 20px;
  }
}

.story-categories {
  position: relative;
  margin: 0;
  padding: 0 10px 10px;
  background-color: rgba(255,255,255,0.8);

  @media screen and (min-width: 600px) {
    max-width: 550px;
    margin: 0 auto;
  }

  @media screen and (min-width: 768px) {
    max-width: 700px;
  }

  @media screen and (min-width: 1024px) {
    max-width: 900px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }

  &.fixed {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    margin: 0;
    max-width: 1200px;

    @media screen and (min-width: 1200px) {
      margin: 0 auto;
      left: calc(50vw - 600px);
    }
  }

  li {
    position: relative;
    display: inline-block;
    padding-left: 12px;
    padding-right: 7px;
    font-family: $secondary-title;
    font-size: 13px;
    line-height: 1em;
    font-weight: 300;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    cursor: pointer;

    @media screen and (min-width: 1024px) {
      height: auto;
      padding-left: 17px;
      padding-right: 15px;
      font-size: 16px;
      border-bottom: 5px solid transparent;
    }

    &.active {
      border-bottom: 3px solid rgba(0,0,0,0.1);
      font-weight: 700;
      @media screen and (min-width: 1024px) {
        border-bottom: 5px solid rgba(0,0,0,0.1);
      }
    }

    &:hover {
      border-bottom: 3px solid rgba(0,0,0,0.1);
      font-weight: 700;

      @media screen and (min-width: 1024px) {
        border-bottom: 5px solid rgba(0,0,0,0.1);
      }
    }
  }

  .bullet {
    position: absolute;
    top: 3px;
    left: 0;
    width: 8px;
    height: 8px;
    background-color: #000;
    border-radius: 10px;

    @media screen and (min-width: 1024px) {
      width: 12px;
      height: 12px;
    }
  }
}

.loader {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
}

.byline {
  max-width: 1200px;
  margin: 0 auto;
  border-top: 1px solid #000;

  .hp-index__tease__meta {
    max-width: none;
  }
}
